* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  position: relative;
}

header {
  padding: 20px;
  /* width: 1270px; */
  /* margin: 44px auto; */
  background-color: #edf1ff;
}
p {
  color: #000000b5;
}
.fa-bars-icon {
  text-align: left;
  font-size: 34px;
  display: none;
}

header h1 {
  width: 98px;
  height: 70px;
  background-image: url(../img/logo-backg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -99999999px;
}
h1 a {
  display: block;
  width: 80px;
  height: 100px;
}

header ul {
  width: 560px;
}

header ul a {
  font-size: 22px;
  color: #000000;
  padding: 5px 8px;
  position: relative;
}

header ul a.active::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  left: 50%;
  margin-left: -2.5px;
}

header span {
  font-size: 34px;
}

.log-in p {
  padding: 0 10px;
}

main {
  position: relative;
}

/* სლაიდერის სტილები */
.slider {
  margin: 0 auto;
  background-image: url(../img/surgery1.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding-top: 100px;
  background-position: center;
}
/* .slider p {
  text-align: center;
  margin: 100px auto;
  font-size: 70px;
  color: rgb(7, 15, 32);
  text-shadow: 10px 20px 10px #2b6876;
} */
/* სლაიდსერის სტილები დასასრული */

/* ფბ- ინსტა სტილები */

.social {
  width: 50px;
  height: 100px;
  position: fixed;
  top: 300px;
  right: 0;
}

.social div {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.social .fb {
  background-image: url(../img/fb.png);
}

.social .inst {
  background-image: url(../img/instagram.png);
}

.social .fb:hover {
  background-image: url(../img/fb-hover.png);
}

.social .inst:hover {
  background-image: url(../img/insta-hover.png);
}

.social div a {
  display: block;
  width: 100%;
  height: 100%;
}
/* ფბ - ინსტა დასასრული */

/* introductionstyles ------------------ */

.introduction {
  width: 80%;
  margin: 50px auto;
}
.introduction-info h2 {
  font-size: 40px;
  width: 300px;
  color: #000000;
}
.introduction-info {
  width: 500px;
}
.introduction-info p {
  text-align: justify;
}
.introduction-info .line {
  width: 500px;
  height: 1px solid #000000;
}

.introduction-info-image {
  width: 600px;
  transition: 1s;
}
.introduction-info-image img {
  width: 100%;
}

.introduction-info-image:hover {
  transform: scale(1.1);
}

/* introductinon styles dasasruli */

.article-container {
  margin: 40px auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  position: absolute;
  top: 300px;
  left: 270px;
}

.article {
  background-color: #46d1ad;
  width: 300px;
  padding: 20px;
}

.article h3 {
  font-size: 30px;
}

.article p {
  margin-top: 30px;
}

.article p,
.article p a,
.article h3 {
  color: #ffffff;
}

.article .button a {
  background-color: #3cbb99;
  padding: 15px 30px;
}
.article .button a:hover {
  background-color: #3dc798;
}
.article2 .button a {
  background-color: #0a9f68;
}
.article3 .button a {
  background-color: #0b744f;
}

.article-container .article2 {
  background-color: #0caf73;
}

.article-container .article3 {
  background-color: #17835b;
}

.divider {
  width: 100%;
  height: 150px;
  background-color: #88bbac;
}

/* h2{
  font-size: 50px;
  text-align: center;
  margin: 50px auto;
  color: #2b6876;
} */

.index .divider {
  width: 100%;
  height: 200px;
  background: rgb(32, 25, 172);
  background: linear-gradient(
    90deg,
    rgba(32, 25, 172, 1) 18%,
    rgba(107, 166, 237, 1) 50%,
    rgba(102, 202, 223, 1) 81%
  );
}

.h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
  color: #000000;
}

.info-box {
  width: 80%;
  margin: 0 auto;
}

.info-box .box-img {
  margin: 0 auto;
  width: 60px;

  overflow: hidden;
}
.info-box .box-img img {
  width: 100%;
}

.info-box .box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #6d91f2;
}
.info-box .box h3 {
  text-align: center;
  margin-bottom: 20px;
}
.info-box .box p {
  line-height: 1.5;
}

.info-box .box1 .box-img {
  background-image: url(../img/icon-img.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-box .box2 .box-img {
  background-image: url(../img/brain.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-box .box3 .box-img {
  background-image: url(../img/brain-h.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-box .box4 .box-img {
  background-image: url(../img/hand.png);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info-box .box1:hover .box-img {
  background-image: url(../img/icon2.png);
  /* transform: scale(-0.8, 1); */
}

.info-box .box2:hover .box-img {
  background-image: url(../img/brain2.png);
}

.info-box .box3:hover .box-img {
  background-image: url(../img/brain-h2.png);
}

.info-box .box4:hover .box-img {
  background-image: url(../img/hand2222.png);
}

.info-box .box-img {
  transition: 0.3s;
}

.info-box h3 {
  margin-top: 20px;
}

.box .button {
  text-align: center;
  margin-top: 15px;
}
.box .button a {
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 15px;
}
.box .button:hover a {
  background-color: #6d91f2;
  color: #ffffff;
  border-color: #ffffff;
}

/* მოგვწერეთ შეტყობინება------ */

.chat {
  background-color: #6d91f2;
  position: fixed;
  bottom: 0;
  right: 30px;
  padding: 15px 50px;
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
}

.chat a {
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.up-arrow {
  background-color: #6d91f2;
  font-size: 40px;
  position: fixed;
  bottom: 100px;
  right: 30px;

  border-radius: 50%;
  padding: 0 15px;
}
.up-arrow a {
  color: #ffffff;
}

/* -----------FOOTER STYLES */





/* .introduction-info-image:hover {
  transform: scale(1);
} */

/* -----------------------------------------ABOUT STYILES */

.about h2 {
  font-size: 40px;
  color: #000000b5;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 10px;
}

.line {
  width: 50%;
  height: 1px;
  background-color: #000000;
  margin: 20px auto 50px auto;
}

.speakers-container {
  margin: 50px auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 75px;
  column-gap: 125px;
}

.speakerimage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.speakerimage img {
  width: 100%;
}

.speaker .speakerinfo p {
  font-size: 20px;
}

.speaker .speakerinfo h3 {
  font-size: 22px;
  line-height: 1.5;
}
.speaker .speakerinfo .doctor {
  font-size: 25px;
  font-weight: bold;
}

/* ------------RESEARCH PAGE STYLES */

.research h2 {
  font-size: 40px;
  color: #000000b5;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 10px;
}

.research h3 {
  font-size: 40px;
  margin-bottom: 30px;
}
.research p {
  font-size: 20px;
  text-align: justify;
}
.research-team {
  width: 80%;
  margin: 0 auto;
}
.research-team .team-info {
  width: 500px;
}

.research-team-photo {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin: 20px auto; */
  gap: 15px;
  padding: 15px;
}

.research-team-photo.img {
  transition: 0.8s;
  overflow: hidden;
}

.research-team-photo .img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.research-team-photo img {
  width: 100%;
  height: 240px;
}

.research footer h3{
font-size: 20px;
}

.section2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.divider {
  height: auto;
  width: 80%;
  margin: 100px auto;
  gap: 40px;
  padding: 40px;
  flex-wrap: wrap;
}
.divider div {
  flex: 1;
  height: 100px;
  background-color: #ffffff;
  text-align: center;
}
.divider img {
  height: 100%;
  width: auto;
}

/* FIRSTARTICLE sSTYLES */

/* .firstarticle main{
  margin: 0 auto;
  width: 80%;
} */

.fullarticle p {
  margin-top: 50px;
  text-align: justify;
}

.fullarticleh2 h2 {
  margin-top: 50px;
  text-align: center;

  font-size: 50px;
  color: rgb(7, 15, 32);
  text-shadow: 10px 20px 10px #2b687652;
}

/* .fullarticlepart{
width: 90%;
height: 700px;
background-color: black;
display: grid;
  grid-template-columns: 1fr 2fr 1fr;
} */

.fullarticle {
  margin: 50px auto;
  width: 90%;
  /* background-color: #2b6876; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 50px;
}


.part1img img {
  width: 100%;
}
.part h3 {
  margin-top: 10px;
  font-size: 20px;
}
.part .h3line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}

.part p {
  margin: 15px 0;
}

.dividerline {
  width: 90%;
  height: 1px;
  background-color: #000000;
}
.part1,
.part3 p {
  font-weight: bold;
}

.part2 .button:hover a {
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 15px;
}

.part2 .button:hover a {
  background-color: #6d91f2;
  color: #ffffff;
  border-color: #ffffff;
}

.box .button a {
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 15px;
}
.box .button:hover a {
  background-color: #6d91f2;
  color: #ffffff;
  border-color: #ffffff;
}

/* FIRSTARTICLE   END */

/* CONTACT PAGE STYLES */

.contactpage main {
  width: 80%;
  margin: 0 auto;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.contact section {
  width: 506px;
}

.contact {
  margin-top: 100px;
}

.contact section h2 {
  font-size: 40px;
}

.contact section p {
  margin-top: 30px;
}

.contact-info p {
  margin-bottom: 50px;
}

.contact-info {
  width: 280px;
}

.contact-info span {
  color: #000000;
}

footer h1 {
  width: 98px;
  height: 70px;
  background-image: url(../img/logo-backg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -99999999px;
}

footer .map {
  width: 300px;
  height: 300px;
}
footer .map iframe {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #00ffd43d;
  padding: 100px 200px 50px 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

footer li {
  margin: 15px 0;
}

footer a {
  color: rgba(0, 0, 0, 0.554);
}
footer span a{
  color: #000000;
  font-size: 30px;
}

footer section {
  width: 180px;
}

.location-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.location-img img {
  width: 100%;
}








@media only screen and (max-width: 820px) {
  body {
    width: 100%;
  }
  header ul {
    width: 100%;
  }

  header ul a {
    font-size: 20px;
  }
  header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    z-index: 3;
  }

  .article {
    width: 230px;
  }

  .article-container {
    width: 100%;
    left: 0;
  }

  .introduction-info {
    width: 310px;
  }
  .introduction-info .line {
    width: 310px;
  }

  .introduction-info-image {
    margin-left: 15px;
  }

  .introduction-info-image img {
    width: 120%;
  }

  .info-box {
    width: 100%;
    flex-wrap: wrap;
  }
  .info-box .box {
    margin: 5px;
    width: 48%;
  }

  footer{
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ABOUT STYLES RESPONSIVE------------- */

  .about header{
    padding: 0;
    position: static;
  }

  .speakers-container{
    width: 100%;
    padding: 20px;
  }



}


@media only screen and (max-width: 390px) {
  header {
    height: 80px;
    overflow: hidden;
  }

  .fa-bars-icon {
    display: block;
    width: 100%;
  }

  header nav {
    margin-top: 260px;
  }

  header,
  header ul {
    width: 100%;
    flex-direction: column;
  }
  .slider {
    background-size: cover;
  }

  .article-container {
    position: static;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
  }
  .article-container .article {
    margin-bottom: 10px;
  }

  .introduction {
    flex-direction: column;
  }

  .introduction-info-image {
    width: 80%;
  }

  .introduction-info-image img {
    width: 100%;
  }

  .h2 {
    font-size: 25px;
  }

  .info-box .box {
    width: 100%;
  }

  .chat {
    padding: 10px 20px;
  }

  .social {
    width: 30px;
    height: 60px;
  }

  .introduction-info h2 {
    font-size: 35px;
  }

  .about .speakers-container{
    grid-template-columns: 0;
    grid-template-rows: 1fr;
  }

  .about .divider{
    width: 100%;
  }

  .footer{
    flex-direction: column;
    align-items: center;
  }
}